.aboutContainer
{
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rightBox
{
    background-color: rgba(181, 214, 178, .5);
}

.leftBox
{
    background-color: #9b1d20;
}