.aboutContainer
{
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../resources/0P5A8519-112.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomPage
{
    width:70%;
}

.topPage
{
    height:100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(181, 214, 178, .5);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.simpleButtonCss
{
    text-shadow: 1px 1px black;
    color: '#FA1C37';
    font-size: '1rem';
    font-family: 'Ruda, sans-serif';
}

.simpleButtonCss:hover
{
    text-shadow: 1px 1px white, 2px 2px white;
}

.iconCustom
{
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    color: #FA1C37;
}

.iconCustom:hover
{
    text-shadow: 1px 1px white, 2px 2px white;
}
