.biographyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    border-radius: 2%;
    margin-top: 2vh;
}

.leftNavigation {
    width: 25%;
    background-color: #293941;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.rightBio {
    background: linear-gradient(120deg, rgba(41, 57, 65, 1) 55%, #E53935 100%);
    height: 100vh;
    width: 75%;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: flex-start;
}

.bioContainer {
    margin-top: 10%;
    margin-left: 5%;
    width: 100%;
    height:60%;
}

.sectionStyle {
    justify-content: flex-start;
    margin: 5%;
    text-align: justify;
}

.scrollDiv
{
    height:90%;
    width: 90%;
    position: absolute;
    margin-top: 5%;
    top: 0;
    bottom: 0;
    overflow-y: none;
}

.scrollBar
{
    height:100;
    width:60;
}