.contactsContainer {
    height: 100vh;
    background-color: #293941;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imagesContacts
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
}