body
{
    height:100vh;
    margin:0.7vh;
}

.maincontainer
{
    /* background-image: url('../resources/0P5A8181-70.jpg'); */
    background-color: #293941;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1%;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navigation
{
    margin:2vh;
    height: 5%;
}

.about
{
    margin-top: 40vh;
    margin-left:-75vh;
}